.DS_Store

AliPayJavaSnTool/.idea/workspace.xml

example/node_modules/
example/bin/
example/.idea/workspace.xml
example/package-lock.json

sdk/.idea/workspace.xml
sdk/node_modules/
sdk/package-lock.json